h1 {
  font-weight: bolder;
  font-size: 32px;
  color: #3574FF;
  margin: 0;
}

.index-header {
  margin-top: 40px;
  display: flex;
  align-items: center;
  img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
}

h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 40px 0;
  color: #3574FF;
  opacity: 0.7;
}

.form-column {
  display: flex;
  flex-direction: column;
}

input#file {
  max-width: 300px;
}

input#submit-file:disabled {
 opacity: 0.5;
}

.background-white {
  background-color: #ffffff;
}

.row-green {
  background-color: #00FDC9;
  color: #1d4940;
}

.row-red {
  background-color: #ef818a;
  color: #70161d;
}

td {
  font-size: 14px;
}

th {
  font-size: 16px;
}

.job-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-caption {
  display: flex;
  font-size: 14px;
}

.caption {
  padding: 5px 10px;
  margin-left: 30px;
  border-radius: 3px;
}
