<div class="navbar fixed-top hidden" id="table-header">
  <div class="container">
    <table class="table background-white">
      <thead>
        <tr>
          <th scope="col" id="th-job-name">Emploi</th>
          <th scope="col" id="th-job-year">Année</th>
          <th scope="col" id="th-job-col">Collectivité</th>
          <th scope="col" id="th-job-cont">Type de contrat</th>
          <th scope="col" id="th-job-level">Niveau</th>
          <th scope="col" id="th-job-spe">Spécialité</th>
          <th scope="col" id="th-job-women"># Femmes</th>
          <th scope="col" id="th-job-men"># Hommes</th>
          <th scope="col">Ecart %</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
