.hidden {
  display: none;
}

div#table-header.navbar.fixed-top {
  padding-top: 0;
}

#th-job-name {
  width: 244px;
}

#th-job-year {
  width: 75px;
}

#th-job-col {
  width: 114px;
}

#th-job-cont {
  width: 90px;
}

#th-job-level {
  width: 198px;
}

#th-job-spe {
  width: 136px;
}

#th-job-women {
  width: 92px;
}

#th-job-men {
  width: 95px;
}
